@{
    ViewData["Title"] = "Location List";
}

<!DOCTYPE html>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/GerenciarUsuarios.css">
    <link rel="stylesheet" href="~/css/EditingWBS.css">
</head>

<body>
    <div class="container-conteudo">

        <h2 class="work-sans">Location List</h2>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Location name</th>
                    <th scope="col">Code</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Active</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>São Paulo</td>
                    <td>SP</td>
                    <td>
                        <a href="#" class="editLocationLink"><img role="button" class="mini-icons" src="~/images/pencil.svg" /></a>
                    </td>
                    <td>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked1" checked>
                            <label class="form-check-label" for="flexSwitchCheckChecked1"></label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Recife</td>
                    <td>RE</td>
                    <td>
                        <a href="#" class="editLocationLink"><img role="button" class="mini-icons" src="~/images/pencil.svg" /></a>
                    </td>
                    <td>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked2" checked>
                            <label class="form-check-label" for="flexSwitchCheckChecked2"></label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Porto Alegre</td>
                    <td>PA</td>
                    <td>
                        <a href="#" class="editLocationLink"><img role="button" class="mini-icons" src="~/images/pencil.svg" /></a>
                    </td>
                    <td>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked3" checked>
                            <label class="form-check-label" for="flexSwitchCheckChecked3"></label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="btn-position">
        <button>Add New Location</button>
    </div>

    
</body>

</html>
